<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="StudentEntities" connectionString="metadata=res://*/Repository.StudentModel.csdl|res://*/Repository.StudentModel.ssdl|res://*/Repository.StudentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JD45C2G\SHANNEN;initial catalog=Student;user id=sa;password=sau$$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>